.header-basic {
    background-color: #292c2f;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.15);
    padding: 20px 40px;
    height: 80px;
    box-sizing: border-box;
}
.header-basic .header-limiter {
    max-width: 1200px;
    text-align: center;
    margin: 0 auto;
}
.header-basic .header-limiter h1 {
    float: left;
    font: normal 28px Cookie, Arial, Helvetica, sans-serif;
    line-height: 40px;
    margin: 0;
}
.header-basic .header-limiter a {
    color: #ffffff;
    text-decoration: none;
}
.header-basic .header-limiter nav {
    font: 16px Arial, Helvetica, sans-serif;
    line-height: 40px;
    float: right;
}
.header-basic .header-limiter nav a {
    display: inline-block;
    padding: 0 5px;
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    opacity: 0.9;
}
.header-basic .header-limiter nav a.selected {
    color: #608bd2;
    pointer-events: none;
    opacity: 1;
}
nav.menu-home-page {
  height: 65px;
}

nav.menu-home-page ul{
  margin: 0px;
  padding: 0px;
  list-style: none;
}

nav.menu-home-page ul.dropdown{ 
  position: relative; 
  width: 100%; 
}

nav.menu-home-page ul.dropdown li{ 
  font-weight: bold; 
  float: left; 
  width: 180px; 
  position: relative;
  background: #ecf0f1;
}

nav.menu-home-page ul.dropdown a:hover{ 
  color: #000; 
}

nav.menu-home-page ul.dropdown li a { 
  display: block; 
  padding: 20px 8px;
  color: #34495e; 
  position: relative; 
  z-index: 2000; 
  text-align: center;
  text-decoration: none;
  font-weight: 300;
}

nav.menu-home-page ul.dropdown li a:hover,
nav.menu-home-page ul.dropdown li a.hover{ 
  background: #3498db;
  position: relative;
  color: #fff;
}


nav.menu-home-page ul.dropdown ul{ 
 display: none;
 position: absolute; 
  top: 0; 
  left: 0; 
  width: 180px; 
  z-index: 1000;
}

nav.menu-home-page ul.dropdown ul li { 
  font-weight: normal; 
  background: #f6f6f6; 
  color: #000; 
  border-bottom: 1px solid #ccc; 
}

nav.menu-home-page ul.dropdown ul li a{ 
  display: block; 
  color: #34495e !important;
  background: #eee !important;
} 

nav.menu-home-page ul.dropdown ul li a:hover{
  display: block; 
  background: #3498db !important;
  color: #fff !important;
} 

nav.menu-home-page .drop > a{
  position: relative;
}

nav.menu-home-page .drop > a:after{
  content:"";
  position: absolute;
  right: 10px;
  top: 40%;
  border-left: 5px solid transparent;
  border-top: 5px solid #333;
  border-right: 5px solid transparent;
  z-index: 999;
}

nav.menu-home-page .drop > a:hover:after{
  content:"";
   border-left: 5px solid transparent;
  border-top: 5px solid #fff;
  border-right: 5px solid transparent;
}
